//
// Imports
//

@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/transition";

@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/typography";
@import "libs/buttons";

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #000000;
  box-shadow: 0px 0px 10px #000000;
}

.navbar {
  margin: 20px;
}

.container {
  position: absolute;
  top: 100px;
  left: 25px;
  width: 100%;
}

.column {
  float: left;
  width: 30%;
  margin: 0% 1%;
}

.typingDiv {
  padding: 12px;
  font-family: "Courier New", Courier, monospace;
}

.textContainer {
  border: 1px solid #808080;
  border-radius: 5px;
  height: 245px;
  background-color: #000000;
  margin-bottom: 40px;
  color: #FFFFFF;
}